/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target
*.DS_Store

# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
.mvn/wrapper/maven-wrapper.jar